@section Stylesheets{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
}
@section Styles{
    .thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    }

    .thumb img:hover {
    -webkit-filter: grayscale(0.2);
    filter: grayscale(0.2);
    }

    .thumb {
    padding: 5px;
    }
}

<div class="container">
    <h1 class="h3 text-center my-4">Фотогалерея</h1>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/1.jpg">
                <img class="img-fluid" src="/img/gallery/1.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/2.jpg">
                <img class="img-fluid" src="/img/gallery/2.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/3.jpg">
                <img class="img-fluid" src="/img/gallery/3.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/3.jpg">
                <img class="img-fluid" src="/img/gallery/3.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/4.jpg">
                <img class="img-fluid" src="/img/gallery/4.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/5.jpg">
                <img class="img-fluid" src="/img/gallery/5.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/6.jpg">
                <img class="img-fluid" src="/img/gallery/6.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/7.jpg">
                <img class="img-fluid" src="/img/gallery/7.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/8.jpg">
                <img class="img-fluid" src="/img/gallery/8.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/9.jpg">
                <img class="img-fluid" src="/img/gallery/9.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/10.jpg">
                <img class="img-fluid" src="/img/gallery/10.jpg" alt="...">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="/img/gallery/11.jpg">
                <img class="img-fluid" src="/img/gallery/11.jpg" alt="...">
            </a>
        </div>
    </div>
</div>