@section Styles{
    .accordion-button:not(.collapsed){
    background-color: #ffcd39;
    color: #ffffff;
    }
    .accordion-button{
    background-color: #ffcd39;
    }
    #accordionFlushExample{
    margin-top:50px;
    }
}

<div class="container" style="max-width: 960px;">
    <div class="row-md-12">
        <h1>Детский санаторный оздоровительный лагерь «МИР»</h1>
        <h5>Добро пожаловать на берег Азовского моря!</h5>
        <h6>
            Санаторный оздоровительный комплекс «Мир», включающий Детский санаторный оздоровительный лагерь и Центр медицинской реабилитации, располагается на берегу Азовского моря. Детский санаторный оздоровительный лагерь «Мир» круглогодичного действия. За год здесь оздоравливается около пяти тысяч детей со всех уголков России.
        </h6>
        <div class="text-center">
            <img src="/img/gallery/2.jpg" class="img-fluid rounded" width="600">
        </div>
        <p class="lead">
            Азовское море является одним из самых мелких в мире и безопасных для детского купания. Оно быстро прогревается и в летние месяцы температура воды не опускается ниже 20 градусов.

            Пятигорским НИИ курортологии отмечено лечебное применение донных отложений и иловой грязи акватории Таганрогского залива при хронических заболеваниях опорно-двигательного аппарата, центральной нервной системы, пищеварительных органов, обмена веществ, кожных покровов.

            Лагерь имеет собственный пляж, благоустроенный теневыми навесами, настилами-лежаками, душевыми, кабинами для переодевания, санитарными узлами. На море установлены водные аттракционы.
        </p>
        <div class="text-center">
            <img src="/img/gallery/sea.jpg" class="img-fluid rounded" width="600">
        </div>
        <p class="lead">
            Безопасность детей во время купания обеспечивают плаврук, медицинская сестра и инструктор-спасатель, в распоряжении которых имеются все необходимые спасательные средства. Акватория для купания огорожена специальными буйками.
        </p>

        <h5>И природа хороша, и погода хороша!</h5>
        <p class="lead">
            <b>Комплекс «Мир»</b> занимает обустроенную парковую зону площадью 8,5 га в 15 километрах от города Таганрога, в непосредственной близости к орнитологическому заповеднику «Беглицкая коса».

            Лагерь «Мир» работает круглый год. Летом встречает 950 детей в смену, а осенью, зимой и весной – 450 мальчишек и девчонок из разных уголков нашей страны могут побывать в «Мире здорового детства».
        </p>
        <div class="text-center">
            <img src="/img/gallery/4.jpg" class="img-fluid rounded" width="600">
        </div>
        <p class="lead">
            Здесь ребят ждут веселые аттракционы, надувные батуты, водные качели, купание в двух открытых с подогревом воды и закрытом бассейнах, занятия в тренажерном зале, испытания на двухуровневом Веревочном парке и в популярном и доступном для любого возраста высокотехнологичном игровом комплексе «Лазертаг».
        </p>
        <div class="text-center">
            <img src="/img/gallery/6.jpg" class="img-fluid rounded" width="600">
        </div>
        <p class="lead">
            Спортивные игры проходят на оборудованном стадионе, который включает в себя футбольное поле, баскетбольную и три волейбольные площадки — с покрытием «Гамбит», асфальтовым покрытием и пляжный волейбол, беговые дорожки, уличные тренажеры.
        </p>

        <h5>Если гость пришел с утра, кричат хозяева «Ура!»</h5>
        <p class="lead">
            В лагере «Мир» — <b>пятиразовый прием пищи.</b> Питание ребят осуществляется согласно нормам и правилам, разработанным для детских учреждений. Современная  столовая  на 650 посадочных мест оснащена оборудованием в соответствии с требованиями СанПиН.

            Профессиональные повара, использование для приготовления пищи  только свежих продуктов  – гарантия качественного питания в лагере «Мир».

            В комплексе «Мир» организован питьевой режим, имеется собственная система очистки питьевой воды в столовой, в лечебном корпусе и в новых жилых корпусах постройки 2012-2018гг. В другие жилые корпуса доставляется очищенная бутиллированная вода.
        </p>
        <div class="text-center">
            <img src="/img/gallery/eat.jpg" class="img-fluid rounded" width="600">
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        ПУТЕВКА ОЗДОРОВИТЕЛЬНАЯ, СРОК 24 дня
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        В стоимость оздоровительной путевки входит: размещение в одноэтажном кирпичном стационарном корпусе с удобствами на этаже: душ, санузел, умывальник, ногомойка, в комнатах на 4-5 человек. Корпус оборудован крытой верандой, оснащенной для отрядной работы телевизором, столами, стендами, пожарной сигнализацией, питьевой водой. Кроме образовательных, психологических, культурно-досуговых и услуг по организации физической культуры и спорта, детям оказывается первая медицинская помощь, организуются консультативные приемы врачами-специалистами, проводится работа по формированию здорового образа жизни.

                        Путевка включает также оздоровительные услуги: фиточай №10, кислородный коктейль №10,море, бассейн №5 (по погоде).
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        ПУТЕВКА САНАТОРНАЯ, СРОК 24 дня
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        В стоимость санаторной путевки входит: размещение в одноэтажном кирпичном стационарном корпусе с удобствами на этаже: душ, санузел, умывальник, ногомойка, в комнатах на 4-5 человек. Корпус оборудован крытой верандой, оснащенной для отрядной работы телевизором, столами, стендами, пожарной сигнализацией, питьевой водой. Кроме образовательных, психологических, культурно-досуговых и услуг по организации физической культуры и спорта, детям оказывается первая медицинская помощь, организуются консультативные приемы врачами-специалистами, проводится работа по формированию здорового образа жизни.



                        Путевка включает также санаторные услуги: лечебная физкультура №5, скандинавская ходьба №5 (по погоде), кислородный коктейль №10,море,бассейн №5 (по погоде), 1 (одна) физиопроцедура по медицинским показаниям №7, соляная комната (по медицинским показаниям).
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <img src="/img/gallery/info_tour.jpg" class="img-fluid">
        </div>
    </div>
</div>